<h1>Locations#show</h1>

<div>
	<p><%= @location.name %></p>
	<p><%= @location.street %></p>
	<p><%= @location.city %></p>
	<p><%= @location.number %></p>
</div>
<%= gmaps("map_options" => { "auto_zoom" => false,  "detect_location" => true, "center_on_user" => true, "zoom" => 17},"markers" => { "data" => @json }) %>
          })
 %>  %>
<div>
	<h3>Specials & Events</h3>
	<p>Monday:<%= @location.monday %></p>
	<p>Tuesday:<%= @location.tuesday %></p>
	<p>Wednesday:<%= @location.wednesday %></p>
	<p>Thursday:<%= @location.thursday %></p>
	<p>Friday:<%= @location.friday %></p>
	<p>Saturday:<%= @location.saturday %></p>
	<p>Sunday:<%= @location.sunday %></p>
</div>