<h1>Locations#show</h1>

<div>
	<p><%= @location.name %></p>
	<p><%= @location.number %></p>
</div>

<div>
	<h3>Specials & Events</h3>
	<p>Monday:<%= @location.monday %></p>
	<p>Tuesday:<%= @location.tuesday %></p>
	<p>Wednesday:<%= @location.wednesday %></p>
	<p>Thursday:<%= @location.thursday %></p>
	<p>Friday:<%= @location.friday %></p>
	<p>Saturday:<%= @location.saturday %></p>
	<p>Sunday:<%= @location.sunday %></p>
</div>